@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Source+Serif+Pro&display=swap');
.top_text{
    font-family: 'Pacifico', cursive;
    margin-left: 13%;
}
.red{
    color: red;
}
.green{
    color: green;
}
.block_views{
    background-color: #4b646f;
    padding-left: 5px;
    color: white;
}
.social{
    padding: 20px;
}
.social_item{
    margin-left: 10px;
}
.item:hover {
    font-size:30px;
}
.btn_left{
    margin-left: 5px;
}
.btn_top{
    margin-top: 15px;
}
.btn:hover {
    background-color: #8aa4af;
}
.p_info_ok{
    background-color: #00a7d0;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    opacity: 70%;
}
.p_info_danger{
    background-color: #ff9700;
    color: black;
    text-align: center;
    margin-bottom: 5px;
    opacity: 70%;

}
.github_div{
    width: 200px;
    height: 30px;
    background-color: #0b0b0b;
    color: white;
    text-align: center;
    padding-top: 5px;
    border-radius: 20%;
}
.github_div:hover{
    color: white;
    background-color: #0d6aad;
    text-decoration: none;
    border-radius: 5%;
}
